@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "./reactToggle.css";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap');

/*Color mixins*/
$lightThemeColor1: #F0F7F4;
$lightThemeColor2: #6EABB0;
$lightThemeColor3: #6F7270;
$lightThemeBorderColor: #B9BEBC;
/*Font mixins*/
$font1: 'Roboto', sans-serif;
$font2: 'Righteous', cursive;

html, body {
  background-color: $lightThemeColor1;
  color: $lightThemeColor3;
  height: 100%;
  overflow: auto;
  font-family: $font1;
  font-size: 16px;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr 8fr;
}

header, main, aside {
  padding: 1em;
}

header {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $lightThemeBorderColor;

  h1, h6 {
    margin: 0;
  }

  label {
    display: flex;
    align-items: center;
    .react-toggle {
      margin: 0 .5em;
    }
  }

  h6 {
    display: flex;
    align-items: center;
    i {    
      font-size: 3em;
      border: 1px solid $lightThemeBorderColor;
      border-radius: 2em;
      padding: 0.3em;
      margin: .2em;
    }
  }
}

main {

  a, i {
    color: $lightThemeColor3;
    text-decoration: none;
    &:hover {
      color: $lightThemeColor2;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {

      i {
        cursor: pointer;
      }

      &:first-child {
        height: 3em;
        align-items: flex-end;
        border-bottom: 1px solid $lightThemeBorderColor;
        .day {
          transform: rotate(-60deg);
          padding-bottom: 2em;
        }
      }

      height: 3em;
      display: flex;
      align-items: center;
      padding: .5em;
      margin-bottom: .5em;
      border-radius: .2em;

      &.chore {

        border: 1px solid $lightThemeBorderColor;

        i {
          margin: 0 .5em;
        }

        .day {

          display: flex;
          
          .circle {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3em;
            width: 3em;
            border: 1px solid $lightThemeBorderColor;
            border-radius: 4em;
            cursor: pointer;
            &:hover {
              border-color: $lightThemeColor2
            }
          }
        }
      }

      .chore-description {
        display: inline-flex;
        flex: 10;
        align-items: center;
        .name {
          text-decoration: none;
        }
      }

      .day {
        flex: 1 1 3em;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-top: 1em;
    }

    input, textarea {
      background-color: transparent;
      border: 1px solid $lightThemeBorderColor;
      border-radius: .2em;
      &:focus {
        outline: none;
        border-color: $lightThemeColor2;
      }

      &[name="chorename"] {
        height: 1.5em;
        max-width: 25em;
      }
  
      &[name="choreinstructions"] {
        max-width: 50em;
        height: 5em;
      }
  
      &[name="chorevalue"] {
        height: 1.5em;
        max-width: 10em;
      }
  
      &[type="submit"] {
        margin-top: 1em;
        max-width: 20em;
        height: 2em;
        width: 5em;
        cursor: pointer;
      }
    }
  }
}

aside {
  border-left: 1px solid $lightThemeBorderColor;
  display: flex;
  flex-direction: column;
  justify-content: start;
  
  div {
    padding-bottom: 1em;
  }
}